@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
  background-image: url("../public/img/viber_image_2023-05-14_18-19-04-075.jpg");
  background-size: cover;
  background-position: center;
}

.element {
  background-color: rgba(128, 128, 128, 0.7);
}
.element2 {
  background-color: rgba(207, 219, 219, 0.733);
}
